<!DOCTYPE html>
<html>
  <head>
    <title>Drinks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
       <ul class=" nav navbar-nav">
 <li >
<%= link_to "Sign Up" ,new_user_registration_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
         <li >
<%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-default btn-sm" %>
 </li>
<% else  %>
       <li > 
        <%= link_to "Log in" ,new_user_session_path   %>
 </li>


<% end %>

</ul>
    <%= yield %>
  </body>
</html>
